<html>
        <body>
           
           <form action = "http://localhost:5000/adddrink" method = "POST">
              <p>wine<SELECT name="wine" size="1"></p>
              <OPTION></OPTION>
              <OPTION value="small_wine">small</OPTION>
              <OPTION value="medium_wine">medium</OPTION>
              <OPTION value="large_wine">large</OPTION>
              </SELECT>  
              <p>water<SELECT name="water" size="1"></p>
                <OPTION></OPTION>
                <OPTION value="small_water">small</OPTION>
                <OPTION value="medium_water">medium</OPTION>
                <OPTION value="large_water">large</OPTION>
                </SELECT>   
              <p>beer<SELECT name="beer" size="1"></p>
                <OPTION></OPTION>
                <OPTION value="small_beer">small</OPTION>
                <OPTION value="medium_beer">medium</OPTION>
                <OPTION value="large_beer">large</OPTION>
                </SELECT>
              <p><input type = "submit" value = "submit" /></p>
           </form>
           
        </body>
     </html>